# Amazon FinSpace Managed kdb Insights: Query welcomedb

Query the tables in welcomedb from the cluster hdb-cluster-welcomedb created in welcome.

In [1]:
import os
import boto3
import json
import datetime

import pykx as kx

from managed_kx import *
from env import *

CLUSTER_NAME="cluster_welcomedb"

In [2]:
# Using credentials and create service client
session = boto3.Session()

# create finspace client
client = session.client(service_name='finspace')

In [3]:
# get the connection string to the cluster
conn_str = get_kx_connection_string(client, 
                          environmentId=ENV_ID, clusterName=CLUSTER_NAME, 
                          userName=KDB_USERNAME, boto_session=session)

# parse the connection string to components
host, port, username, password = parse_connection_string(conn_str)

# Connect to the Cluster, List Tables

In [6]:
%%q --host $host --port $port --user $username --pass $password
\c 30 150

/ open a connection to the managed KX Cluster

/ database
dbname: "welcomedb"

\w

tables[]

2146800 67108864 67108864 0 0 16525275136
,`example

# Schema: example

In [7]:
%%q --host $host --port $port --user $username --pass $password

meta[`example]

c     | t f a
------| -----
date  | d
sym   | s   p
time  | p
number| j

# Rows per Date

In [8]:
%%q --host $host --port $port --user $username --pass $password

/ size of the table, by dates and total, calling lib function sq as well
select counts:count i, avg_num: avg number, avg_sq_num: avg sq number by date from example

"Rows: ", {reverse "," sv 0N 3#reverse string x}count example

date      | counts  avg_num  avg_sq_num
----------| -----------------------------
2024.11.16| 1000000 499800.5 3.331963e+11
2024.11.17| 1000000 499865   3.332692e+11
2024.11.18| 1000000 499912.4 3.33206e+11
2024.11.19| 1000000 500078.4 3.334004e+11
2024.11.20| 1000000 500264.7 3.336606e+11
2024.11.21| 1000000 499850   3.333436e+11
2024.11.22| 1000000 500082.3 3.334472e+11
2024.11.23| 1000000 500169.5 3.336027e+11
2024.11.24| 1000000 499903   3.331833e+11
2024.11.25| 1000000 500277.5 3.335924e+11
Rows: 10,000,000

In [9]:
%%q --host $host --port $port --user $username --pass $password

.z.z

2024.11.26T15:24:41.909

In [10]:
%%q --host $host --port $port --user $username --pass $password

count example

10000000